.birdcam-viewer {
    position: relative;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(6, 51, 51);
}

.birdcam-viewer .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 40px;
    background-color: rgba(6, 51, 51, 0.5);
    font-size: 26px;
    line-height: 40px;
    color: rgb(197, 255, 255);
}

.birdcam-viewer .header .title {
    display: block;
    position: absolute;
    top: 0;
    left: 5px;
}

.birdcam-viewer .header .indicator {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-radius: 50% 50%;
    border-color: rgb(197, 255, 255);
    background-color: rgb(220,220,220);
}

.birdcam-viewer .header .indicator:before {
    display: block;
    position: absolute;
    top: -10px;
    right: 28px;
    text-align: right;
    font-size: 16px;
}

.birdcam-viewer .header .indicator.offline {
    background-color: rgb(220,20,20);
}

.birdcam-viewer .header .indicator.offline:before {
    content: "offline";
}

.birdcam-viewer .header .indicator.online {
    background-color: rgb(20,220,20);
}

.birdcam-viewer .header .indicator.online:before {
    content: "online";
}

.birdcam-viewer .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.birdcam-viewer .hint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: rgb(6, 51, 51);   
}


.birdcam-viewer .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.birdcam-viewer .tools {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(6, 51, 51, 0.5);
}

.birdcam-viewer .tools li {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 2px 10px 2px 2px;
    text-align: center;
    line-height: 36px;
    font-size: 26px;
    color: rgb(197, 255, 255);
}

.birdcam-viewer .tools li:hover {
    cursor: pointer;
    color: rgb(6, 51, 51);

}

.birdcam-viewer .hidden {
    display: none;
}
